body {
      --theme-background: #c9d2de;
     --theme-color-: #000000;
     --theme-color-invert-: rgb(255, 255, 255);
     --theme-color-dark-: white;
     --theme-navbar-: #b7d8ee;
     --theme-navbar-svg-fill-: #053e5a00;
     --theme-navbar-svg-fill-a-: #00111f;
     --theme-stroke-a-: #ffffff00;
     --theme-stroke-: rgb(0, 0, 0);
     --theme-blue-5-: #4dafff;
     --theme-setting-: #00a8c552;
     --theme-toggle-base-: #017b91;
     --theme-toggle-switch-: #002025;
     --theme-contact-shadow-inset-: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #333333;
     --theme-contact-shadow-outset-: 3px 3px 7px #525252, -3px -3px 5px #ffffff;
     --theme-header-: #b1bfc9;
     --theme-font-color-: #002731;
     --theme-notifi-li-: #00538a;
     --theme-post-bg-: #f5f7f8;
     --theme-color-filt-: #ffffff;
     --theme-bio-p-: aliceblue;
     --feature-post-:lightblue;
     --feature-about-: #ffbfe0;
     --feature-contact-: #f3dbb6;
     --theme-on-secondary-inverse: #000;
     --theme-secondary: #3a6c91;
     --theme-secondary-hover: #2a587a;
     --theme-secondary-active: #1b4563;
     --theme-secondary-contrast: #03314b;
     --theme-accent: #d8ad12;
     --theme-accent-hover: #d69600;
     --theme-accent-active: #d26f00;
     --theme-danger: #de2839;
     --theme-danger-hover: #cc1d33;
     --theme-danger-active: #97001c;
     --theme-info: #0846a0;
     --theme-default: #f5f8fa;
     --theme-default-active: #dadce0;
     --theme-disabled: #e9ecef;
     --theme-table-hover: rgba(0,0,0,0.01176);
     --theme-footer: #f8f9fa;
     --theme-sidebar: #fff;
     --theme-navbar: #fff;
     --theme-surface: #f8f8f8;
     --theme-surface-inverse: #272727;
     --theme-surface-bottom: #f9f9f9;
     --theme-surface-1dp: #fff;
     --theme-surface-outline: #dadce0;
     --theme-on-surface: #757575;
     --theme-modal: #fff;
     --theme-primary-rgba: 44,224,128;
     --theme-secondary-rgba: 58,108,145;
     --theme-success-rgba: 0,136,56;
     --theme-info-rgba: 8,70,160;
     --theme-warning-rgba: 255,171,0;
     --theme-danger-rgba: 222,40,57;
     --theme-img-logo: none;
     --theme-carousel-controls: brightness(0) invert(1);
     --frosted-glass-bg: hsla(0,0%,100%,0.5);
     --frosted-glass-backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
     --animation-index: 0.5s;
     --editor-text: #24292e;
     --editor-red: #d73a49;
     --editor-purple: #6f42c1;
     --editor-blue: #005cc5;
     --editor-darkblue: #032f62;
     --editor-orange: #e36209;
     --editor-grey: #6a737d;
     --editor-green: #22863a;
     --editor-darkyellow: #735c0f
 }
@media (prefers-color-scheme: dark) {
  body {
     --theme-background: #2a2b2c;
     --theme-color-: #fff;
     --theme-color-invert-: black;
     --theme-color-dark-:rgb(255, 255, 255);
     --theme-navbar-: #171718;
     --theme-navbar-svg-fill-: #bccbce;
     --theme-navbar-svg-fill-a-: #90f0fd;
     --theme-stroke-a-: #ffffff00;
     --theme-stroke-: transparent;
     --theme-blue-5-: #00e1ff4f;
     --theme-setting-: #00000080;
     --theme-toggle-base-: #158cbb;
     --theme-toggle-switch-: #73ccdb;
     --theme-contact-shadow-inset-: inset -3px -3px 7px #1b1b1b, inset 3px 3px 5px #000000;
     --theme-contact-shadow-outset-: 3px 3px 7px #000000, -2px -2px 5px #585858;
     --theme-header-: #171718;
     --theme-font-color-: #00c6f8;
     --theme-notifi-li-: #4b4d50;
     --theme-post-bg-: #000000;
     --theme-bio-p-: #1a1c1d;
     --theme-color-filt-: #000000;
     --feature-post-: #479bcf;
     --feature-about-: #e5689b;
     --feature-contact-: #ffc771;
     --theme-primary-hover: #b7f2ca;
     --theme-primary-active: #82e9a7;
     --theme-primary-contrast: #e1fae9;
     --theme-on-secondary: #000;
     --theme-on-secondary-inverse: #fff;
     --theme-secondary: #dcf0ff;
     --theme-secondary-hover: #b8d9f6;
     --theme-secondary-active: #9bbede;
     --theme-secondary-contrast: #dcf0ff;
     --theme-accent: #f3f2be;
     --theme-accent-hover: #f3f2be;
     --theme-accent-active: #eae993;
     --theme-muted: #acb4ba;
     --theme-muted-100: #b8c1c7;
     --theme-success: #8fdf9e;
     --theme-warning: #fef697;
     --theme-danger: #fbcad2;
     --theme-danger-hover: #ea959b;
     --theme-danger-active: #ff959d;
     --theme-info: #b6d4ff;
     --theme-default: #272727;
     --theme-default-active: #323232;
     --theme-disabled: #939393;
     --theme-table-hover: hsla(0,0%,100%,0.05882);
     --theme-footer: #272727;
     --theme-sidebar: #272727;
     --theme-navbar: #121212;
     --theme-surface: #272727;
     --theme-surface-inverse: #f8f8f8;
     --theme-surface-bottom: #272727;
     --theme-surface-1dp: #1e1e1e;
     --theme-surface-outline: #323232;
     --theme-on-surface: #bdbdbd;
     --theme-modal: #313131;
     --theme-primary-light: #ffedf1;
     --theme-secondary-light: #e4f0f5;
     --theme-accent-light: #e3f7ff;
     --theme-blue-light: #e8f0fe;
     --theme-yellow-light: #fef7e0;
     --theme-green-light: #e6f4ea;
     --theme-red-light: #fce8e6;
     --theme-img-logo: brightness(0) invert(1);
     --theme-carousel-controls: brightness(0) invert(1);
     --frosted-glass-bg: rgba(0,0,0,0.5);
     --frosted-glass-backdrop-filter: blur(20px) saturate(150%) contrast(100%) brightness(100%);
     --editor-text: #c9d1d9;
     --editor-red: #ff7b72;
     --editor-purple: #d2a8ff;
     --editor-blue: #79c0ff;
     --editor-darkblue: #a5d6ff;
     --editor-orange: #ffa657;
     --editor-grey: #8b949e;
     --editor-green: #7ee787;
     --editor-darkyellow: #c9d1d9
  }
  body.light-theme {
     --theme-background: #c9d2de;
     --theme-color-: #000000;
     --theme-color-invert-: rgb(255, 255, 255);
     --theme-color-dark-: white;
     --theme-navbar-: #b7d8ee;
     --theme-navbar-svg-fill-: #053e5a00;
     --theme-navbar-svg-fill-a-: #00111f;
     --theme-stroke-a-: #ffffff00;
     --theme-stroke-: rgb(0, 0, 0);
     --theme-blue-5-: #4dafff;
     --theme-setting-: #00a8c552;
     --theme-toggle-base-: #017b91;
     --theme-toggle-switch-: #002025;
     --theme-contact-shadow-inset-: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #333333;
     --theme-contact-shadow-outset-: 3px 3px 7px #525252, -3px -3px 5px #ffffff;
     --theme-header-: #b7d8ee;
     --theme-font-color-: #002731;
     --theme-notifi-li-: #00538a;
     --theme-post-bg-: #f5f7f8;
     --theme-color-filt-: #ffffff;
     --theme-bio-p-: aliceblue;
     --feature-post-:lightblue;
     --feature-about-: #ffbfe0;
     --feature-contact-: #f3dbb6;
     --theme-on-secondary-inverse: #000;
     --theme-secondary: #3a6c91;
     --theme-secondary-hover: #2a587a;
     --theme-secondary-active: #1b4563;
     --theme-secondary-contrast: #03314b;
     --theme-accent: #d8ad12;
     --theme-accent-hover: #d69600;
     --theme-accent-active: #d26f00;
     --theme-muted: #52595f;
     --theme-muted-100: #52595f;
     --theme-success: #008838;
     --theme-warning: #ffab00;
     --theme-danger: #de2839;
     --theme-danger-hover: #cc1d33;
     --theme-danger-active: #97001c;
     --theme-info: #0846a0;
     --theme-default: #f5f8fa;
     --theme-default-active: #dadce0;
     --theme-disabled: #e9ecef;
     --theme-table-hover: rgba(0,0,0,0.01176);
     --theme-footer: #f8f9fa;
     --theme-sidebar: #fff;
     --theme-navbar: #fff;
     --theme-surface: #f8f8f8;
     --theme-surface-inverse: #272727;
     --theme-surface-bottom: #f9f9f9;
     --theme-surface-1dp: #fff;
     --theme-surface-outline: #dadce0;
     --theme-on-surface: #757575;
     --theme-modal: #fff;
     --theme-primary-rgba: 44,224,128;
     --theme-secondary-rgba: 58,108,145;
     --theme-success-rgba: 0,136,56;
     --theme-info-rgba: 8,70,160;
     --theme-warning-rgba: 255,171,0;
     --theme-danger-rgba: 222,40,57;
     --theme-img-logo: none;
     --theme-carousel-controls: brightness(0) invert(1);
     --frosted-glass-bg: hsla(0,0%,100%,0.5);
     --frosted-glass-backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
     --animation-index: 0.5s;
     --editor-text: #24292e;
     --editor-red: #d73a49;
     --editor-purple: #6f42c1;
     --editor-blue: #005cc5;
     --editor-darkblue: #032f62;
     --editor-orange: #e36209;
     --editor-grey: #6a737d;
     --editor-green: #22863a;
     --editor-darkyellow: #735c0f
  }
} 
body.dark-theme {
   --theme-background: #2a2b2c;
     --theme-color-: #fff;
     --theme-color-invert-: black;
     --theme-color-dark-:rgb(255, 255, 255);
     --theme-navbar-: #171718;
     --theme-navbar-svg-fill-: #bccbce;
     --theme-navbar-svg-fill-a-: #90f0fd;
     --theme-stroke-a-: #ffffff00;
     --theme-stroke-: transparent;
     --theme-blue-5-: #00e1ff4f;
     --theme-setting-: #00000080;
     --theme-toggle-base-: #158cbb;
     --theme-toggle-switch-: #73ccdb;
     --theme-contact-shadow-inset-: inset -3px -3px 7px #1b1b1b, inset 3px 3px 5px #000000;
     --theme-contact-shadow-outset-: 3px 3px 7px #000000, -2px -2px 5px #585858;
     --theme-header-: #171718;
     --theme-bio-p-: #1a1c1d;
     --theme-font-color-: #00c6f8;
     --theme-notifi-li-: #4b4d50;
     --theme-post-bg-: #000000;
     --theme-color-filt-: #000000;
     --feature-post-: #479bcf;
     --feature-about-: #e5689b;
     --feature-contact-: #ffc771;
     --theme-primary-hover: #b7f2ca;
     --theme-primary-active: #82e9a7;
     --theme-primary-contrast: #e1fae9;
     --theme-on-secondary: #000;
     --theme-on-secondary-inverse: #fff;
     --theme-secondary: #dcf0ff;
     --theme-secondary-hover: #b8d9f6;
     --theme-secondary-active: #9bbede;
     --theme-secondary-contrast: #dcf0ff;
     --theme-accent: #f3f2be;
     --theme-accent-hover: #f3f2be;
     --theme-modal: #313131;
     --theme-primary-light: #ffedf1;
     --theme-secondary-light: #e4f0f5;
     --theme-accent-light: #e3f7ff;
     --theme-blue-light: #e8f0fe;
     --theme-yellow-light: #fef7e0;
     --theme-green-light: #e6f4ea;
     --theme-red-light: #fce8e6;
     --theme-img-logo: brightness(0) invert(1);
     --theme-carousel-controls: brightness(0) invert(1);
     --frosted-glass-bg: rgba(0,0,0,0.5);
     --frosted-glass-backdrop-filter: blur(20px) saturate(150%) contrast(100%) brightness(100%);
     --editor-text: #c9d1d9;
     --editor-red: #ff7b72;
     --editor-purple: #d2a8ff;
     --editor-blue: #79c0ff;
     --editor-darkblue: #a5d6ff;
     --editor-orange: #ffa657;
     --editor-grey: #8b949e;
     --editor-green: #7ee787;
     --editor-darkyellow: #c9d1d9
}



:root{
  --cyan-10-:cyan;
  --cyan-5-:#00ffff79;
  --primary-button-fill-color-active: rgb(129, 162, 208);
  --google-blue-100: rgb(210, 227, 252);
  --google-blue-300: rgb(138, 180, 248);
  --google-blue-600: rgb(26, 115, 232);
  --google-blue-700: rgb(25, 103, 210);
  --google-gray-100: rgb(241, 243, 244);
  --google-gray-300: rgb(218, 220, 224);
  --google-gray-500: rgb(154, 160, 166);
  --google-gray-50: rgb(248, 249, 250);
  --google-gray-600: rgb(128, 134, 139);
  --google-gray-700: rgb(95, 99, 104);
  --google-gray-800: rgb(60, 64, 67);
  --google-gray-900: rgb(32, 33, 36);
  --heading-color: var(--google-gray-900);
  --link-color: rgb(88, 88, 88);
 }
.au{
--background-color: var(--google-gray-900);
    --error-code-color: var(--google-gray-500);
    --heading-color: var(--google-gray-500);
    --link-color: var(--google-blue-300);
    --primary-button-fill-color-active: rgb(129, 162, 208);
    --primary-button-fill-color: var(--google-blue-300);
    --primary-button-text-color: var(--google-gray-900);
    --quiet-background-color: var(--background-color);
    --secondary-button-border-color: var(--google-gray-700);
    --secondary-button-fill-color: var(--google-gray-900);
    --secondary-button-hover-fill-color: rgb(48, 51, 57);
    --secondary-button-text-color: var(--google-blue-300);
    --small-link-color: var(--google-blue-300);
    --text-color: var(--google-gray-500);

    --background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0,0,0,.65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    background: var(--background-color);
    color: var(--text-color);
  }